@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #ffdede;
  @apply text-deep-blue;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
.logo-wrapper {
  position: relative;
  border-radius: 50%;
}
.main-logo {
  border: 3px solid transparent;
}
.logo-wrapper::before {
  content: '';
  position:absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(5deg, #24CBFF 31%, #FC59FF 69.36%);
  border-radius: 50%;
  animation: shine 3s linear infinite;
}
@keyframes shine {
	100% {
    transform: rotate(-360deg);
  }
}
.slick-slider {
  box-shadow: 0px 0px 12px 0px rgb(170, 81, 99);
}
.slick-arrow {
  display: none !important;
}
.slick-slider .slick-slide div {
  max-height: 850px;
}
.slick-slider .slick-slide div .photo {
  height: inherit;
}
.slick-slider .slick-slide img {
  max-height: 850px;
  object-fit: cover;
  width: 100%;
}